@model IEnumerable<FitLife.Models.DTO.PlanDTO>

@{
    ViewBag.Title = "MyPlans";
}

<h2>Мои планы</h2>

<p>
    @Html.ActionLink("Создать план", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Тренировки", "PlansWorkouts", new { id = item.ID }) |
            @Html.ActionLink("Добавить тренировку", "AddWorkout", "Workouts", new { planID = item.ID }, null) |
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
