@model IEnumerable<FitLife.Models.DBModels.Workout>

@{
    ViewBag.Title = "PlansWorkouts";
}

<h2>@ViewBag.PlanName</h2>

<p>
    @Html.ActionLink("Добавить тренировку", "AddWorkout", "Workouts", new  { planID = ViewBag.PlanID }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Подходы", "WorkoutsSets", "Workouts", new { id = item.ID }, null) |
                @Html.ActionLink("Редактировать", "Edit", "Workouts", new { id = item.ID, planID = item.PlanID }, null) |
                @Html.ActionLink("Подробнее", "Details", "Workouts", new { id = item.ID }, null) |
                @Html.ActionLink("Удалить", "Delete", "Workouts", new { id = item.ID }, null) 
            </td>
        </tr>
    }

</table>


